parameters:
    paths:
        - app/
        - database/factories/
        - database/seeders/

    # Level 10 is the highest level
    level: 8

    type_coverage:
        declare: 100
        return: 100
        param: 100
        property: 100
        constant: 100
